body{
  background-image: url(https://static.pexels.com/photos/100733/pexels-photo-100733.jpeg);
 background-size:  cover;
 background-repeat: no-repeat;
}
select{
  display: block;
  margin: 60px 0px 0px 100px;
  width: 200px;
  height: 40px;
}  
#btn{
  background-color: black;
  color:white;
  width: 200px;
  height: 40px;
  margin: 60px 0px 0px 100px;
}